/* Game.css */
.game-cursor {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 2px;
    height: 20px;
    background-color: black;
    animation: game-blink 1s step-end infinite;
}

@keyframes game-blink {

    from,
    to {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.game-container {
    margin: 0 15%;
    padding: 30px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.game-text {
    font-family: 'FedraSansPro', 'Courier New', Courier, monospace;
    font-size: 20px;
    white-space: normal;
    /* Allow normal line breaks */
    overflow-wrap: break-word;
    /* Break long words */
}

.game-word {
    display: inline-block;
    margin-right: 10px;
}