/* Main.css */
.main-container {
  margin: 0 100px; /* Отступы слева и справа */
  margin-top: 20px;
  padding: 10px; /* Внутренние отступы */
  /* border: 2px solid #ccc;  Добавляем рамку 
  border-radius: 15px; Закругляем углы */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); Добавляем тень */
}

.main-text {
  font-family: 'FedraSansPro', 'Courier New', Courier, monospace; /* Используем новый шрифт */
  font-size: 20px;
}
