/* Main.css */



.main-container {
  margin: 20px; /* Задаем отступы от краев экрана */
  padding: 10px;
  /*border: 1px solid #ccc;*/
}

.main-text {
  font-family: 'MonaspaceNeon', 'Courier New', Courier, monospace; /* Используем новый шрифт */
  font-size: 20px;
}
