/* Statistics.css */
.statistics {
    margin: 0 15%;
    font-size: 20px;
    /* Reduced font size */
    align-items: right;
}

.stat-item {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    /* Increased margin between items */
}

.stat-item:last-child {
    margin-right: 0;
    /* Remove margin from the last item */
}

.stat-item svg {
    font-size: 20px;
    /* Adjusted icon size */
    color: #333;
}