/* Statistics.css */
.statistics {
    width: 33.33%;
    font-size: 15px; /* Reduced font size */
    align-items: right;
}

.stat-item svg {
    font-size: 15px; /* Adjusted icon size */
    color: #333;
}
