/* Statistics.css */
.statistics {
    margin: 0 15%;
    font-size: 20px;
    align-items: right;
}

.stat-item {
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

.stat-item:last-child {
    margin-right: 0;
}

.stat-item .icon {
    font-size: 20px;
    color: #007bff;
}