@font-face {
  font-family: 'MonaspaceNeon';
  src: url('../fonts/MonaspaceNeon-Regular.otf') format('opentype');
}

body {
  font-family: 'MonaspaceNeon', 'Courier New', Courier, monospace; /* Используем новый шрифт */
  font-size: 20px;
  margin: 0; /* Убираем отступы по умолчанию */
  padding: 0; /* Убираем внутренние отступы по умолчанию */
  background-color: #ffffff; /* Устанавливаем цвет фона */
  color: #333; /* Устанавливаем цвет текста */
}

.navbar-brand-three {
  vertical-align: center;
}

header {
  padding: 20px 40px 20px 40px;
  height: 20%;
  width: 100%;
  max-width: 100%;
  align-items: center;
  vertical-align: middle;
  box-shadow: 0 3px 6px -3px rgba(0, 0, 0, .2);
}

header.row {
  margin-left: 0;
  margin-right: 0;
}

ul.menu {
  display: inline;
}

.link-no-underline {
  color: #1a1b1f;
  text-decoration: none;
}

a.logout {
  font-weight: 700;
}

a.card {
  width: 18em;
}

li.menu-item {
  display: inline;
  padding-right: 30px;
}

.navbar-img {
  vertical-align: middle;
  max-width: 100%;
  display: inline-block;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.article-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding-top: 20px;
  padding-right: 10%;
  margin-left: 10%;
  grid-gap: 20px;
}