<!DOCTYPE html>


{% load static %}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style>.wf-force-outline-none[tabindex="-1"]:focus {
        outline: none;
    }</style>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="navbar-logo-center">
    <div data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease"
         role="banner" class="navbar-logo-center-container shadow-three w-nav">
        <div class="container">
            <div class="navbar-wrapper-three"><a href="https://naval-battle.webflow.io/#"
                                                 class="navbar-brand-three w-nav-brand"><img
                    src="{% static 'images/62434fa732124a332512aaee_placeholder-1.svg' %}" loading="lazy" alt=""></a>
                <nav role="navigation" class="nav-menu-wrapper-three w-nav-menu">
                    <div class="nav-menu-three">

                        <ul role="list" class="nav-menu-block w-list-unstyled-1">
                            {% for m in menu %}
                            <li><a href="{% url m.url_name %}" class="nav-link">{{ m.title }}</a></li>
                            {% endfor %}
                        </ul>

                        {% if request.user.is_authenticated %}
                        <ul role="list" class="nav-menu-block w-list-unstyled-2">
                            <li>{{ user.username }} | <a href="{% url 'users:logout' %}"
                                                         class="nav-link-accent">Выйти</a></li>
                        </ul>
                        {% else %}
                        <ul role="list" class="nav-menu-block w-list-unstyled-2">
                            <li><a href="{% url 'users:login' %}" class="nav-link-accent">Войти</a></li>
                            <li class="mobile-margin-top-10">
                                <a href="{% url 'users:register' %}"
                                   class="button-primary w-button">ЗАРЕГИСТРИРОВАТЬСЯ</a>
                            </li>
                        </ul>
                        {% endif %}

                    </div>
                </nav>
                <div class="menu-button w-nav-button" style="-webkit-user-select: text;" aria-label="menu" role="button"
                     tabindex="0" aria-controls="w-nav-overlay-0" aria-haspopup="menu" aria-expanded="false">
                    <div class="w-icon-nav-menu"></div>
                </div>
            </div>
        </div>
        <div class="w-nav-overlay" data-wf-ignore="" id="w-nav-overlay-0"></div>
    </div>
</div>


{% block content %}{% endblock %}


<script src="{% static 'js/a.js' %}" type="text/javascript"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
</body>
</html>