{% extends 'base.html' %}


{% block content %}
<div class="statistic-zone">
    Время: <span id="timer" style="display: inline-block;">00:00</span>
    Символов в минуту: <span id="speed">0</span>
    Аккуратность: <span id="accuracy">0/0 (0)</span>
</div>
<form class="typing-zone">
    {% csrf_token %}
    <input type="text" class="inputField" id="inputField" autocomplete="off" spellcheck="false"
           formnovalidate="formnovalidate" readonly>
    <input type="text" class="templateField" id="templateField" autocomplete="off" spellcheck="false"
           formnovalidate="formnovalidate" style="display: block;" readonly value="{{ textTemplates }}">
</form>
<form>
    {% csrf_token %}
    <input type="text">
</form>
{% endblock %}
